@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter.ttf') format('truetype');
}

* {
    font-family: 'Inter';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.background {
    position: absolute;
    width: 100%;
    height: 1080px;
    background: linear-gradient(to bottom, #3E5965, #ffffff);
    z-index: -1;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 128px 24px 128px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 48px;
    height: auto;
    align-self: center;
    margin-right: 8px;
}

.logo-text {
    color: white;
    font-size: 32px;
    align-self: center;
    font-style: normal;
    text-align: left;
    font-weight: 800;
    margin-left: 8px;
    margin-right: 8px;
}

.nav-links-desktop a {
    font-size: 24px;
    font-weight: 600;
    margin-left: 12px;
    margin-right: 12px;

    display: inline-block;
    position: relative;
    color: #9AD4D6;
}

.nav-links-desktop a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -8px;
    left: 0;
    background-color: #9AD4D6;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-links-desktop a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-links-mobile span {
    font-size: 16px;
    font-weight: 600;

}

.nav-links-mobile a {
    margin-bottom: 16px;
}

.nav-links-mobile {
    width: 100%;
    display: none;
    flex-direction: column;
    padding-left: 16px;
}

.toggle_btn {
    font-size: 16px;
    display: none;
    height: 32px;
    width: auto;
    align-items: center;
}

@media(max-width: 1200px) {
    .container {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
        padding-right: 16px
    }

    .logo-image {
        width: 32px;
        margin-right: 4px;
    }

    .logo-text {
        font-size: 16px;
        margin-left: 4px;
        margin-right: 4px;
    }

    .nav-links-desktop {
        display: none;
    }

    .toggle_btn {
        display: flex;
    }
}


.main-container {
    padding: 64px 128px 24px 128px;
    display: block;
}

.landing-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 192px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    padding-right: 48px;
}

.hero-text {
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 64px;
}

.hero-description {
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 48px;
}

.join-us {
    background-color: #9AD4D6;
    border-style: none;
    border-radius: 4px;
    padding: 12px 24px 12px 24px;
    text-decoration: none;
    margin-bottom: 48px;
}

.join-us:hover {
    cursor: pointer;
}

.join-us span {
    font-weight: 700;
    font-size: 20px;
    color: #101935;
}

.news-event-container .block {
    width: 640px;
    height: 640px;
    background-color: #101935;
    box-shadow: 32px 32px #010C16;
    display: flex;
    flex-direction: column;
}

.news-event-title {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.news-event-title span {
    font-size: 24px;
    font-weight: 600;
    color: #F2FDFF;
}

.news-event-image-container {
    margin: 0px 16px 16px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.news-event-image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Section 2 :: Mission Statement */
.section-2-container {
    display: flex;
    flex-direction: row;
}

.mission-image-container .block {
    width: 500px;
    height: 750px;
    background-color: #101935;
    box-shadow: -32px 32px #010C16;
    display: flex;
    flex-direction: column;
}

.mission-image-image {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.mission-image-image img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.mission-container {
    display: flex;
    flex-direction: column;
    margin-left: 256px;
}

.mission-text {
    color: #010C16;
    font-size: 64px;
    font-weight: 700;
    padding-bottom: 32px;
}

.mission-description {
    color: #010C16;
    font-size: 24px;
    font-weight: 500;
    line-height: 200%;
}

/* Responsive */

@media(max-width: 1500px) {
    .landing-container {
        flex-direction: column;
        padding-bottom: 64px;
    }

    main {
        padding: 48px 16px 24px 16px;
    }

    .hero-container {
        justify-content: center;
        align-items: center;
        padding-right: 0px;
    }

    .hero-text {
        text-align: center;
        margin-bottom: 24px;
        font-size: 32px;
    }

    .hero-description {
        text-align: center;
        margin-bottom: 24px;
        font-size: 16px;
    }

    .news-event-container {
        display: flex;
        justify-content: center;
    }

    .news-event-container .block {
        width: 100%;
        max-width: 350px;
        height: 350px;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        border-radius: 4px;
    }

    .mission-image-container {
        display: none;
    }

    .mission-container {
        justify-content: center;
        align-items: center;
        margin-left: 0px
    }

    .mission-text {
        font-size: 32px;
        padding-bottom: 12px;
    }

    .mission-description {
        text-align: center;
        font-size: 16px;
    }
}