@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter.ttf') format('truetype');
}

body{
    background-color: #f2fdff;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.header{
    top: 0px;
    left: 0px;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover; 
    position: relative;
    background: linear-gradient(180deg, #3E5965 0%, rgba(62, 89, 101, 0.00) 100%);
}
.header-content{
    display: flex;
    margin-top: 20px;
}
/* NAVIGATION BAR STYLING */
nav{
    display: flex;
    padding: 0% 3%;
    align-items: center;
    justify-content: space-between;
}
.logo-header{
    display: inline-flex;
    margin-left: 90px;
}
.logo-header h1{
    margin-top: 28px;
}
.logo-header h1 b{
    color: #FFF;
    letter-spacing: 1px;
    font-size: 1.5em;
    font-weight: 900;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.current-page::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #56cbf9;
    display: block;
    margin: auto;
}
.nav-links ul li a{
    text-decoration: none;
    color: #FFF;
    text-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    line-height: normal;
    display: inline-block;
}
/* Hovering effect on tabs*/

/* .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #56cbf9;
    display: block;
    margin: auto;
    transition: 0.5s;
} 
.nav-links ul li:hover::after{
    width: 100%;
} */
nav img{
    margin-top: 20px;
    width: 48px;
    height: 48px;
}

/* Home Page Texts */
.header-box{
    width: 600px;
    margin-left: 128px;
}
#header-h1{
    color: #FFF;
    width: 600px;
    font-size: 48px;
    font-weight: 800;
}
#header-h1 b{
    color: #9AD4D6;
}
#header-p{
    color: #FFF;
    width: 500px;
    font-size: 18px;
}
#header-button{
    background-color: #9AD4D6;
    width: 100px;
    height: 40px;
    margin-top: 12px;
    border-style: none;
}
#header-button a{
    text-decoration: none;
    color: #101935;
    font-weight: 700;
    font-size: 18px;
}

/*  Slideshow in Home Page  */
.box{
    background-color: #101935;
    box-shadow: 20px 20px;
    width: 350px;
    height: 350px;
    margin-left: 62px;
    margin-top: 35px;
}
.box h1{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    margin-top: 8px;
}
.box img{
    width: 340px;
    height: 310px;
    margin-left: 5px;
    margin-top: -10px;
}
/* Second Part of Home Page */
.main{
    top: 0px;
    left: 0px;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover; 
    position: relative;
}

.main-one{
    display: flex;
}
.mission-text{
    margin-left: 250px;
}
.mission-text h1{
    font-size: 40px;
    line-height: 0.75;
}
.mission-text p{
    width: 550px;
    font-weight: 500;
    line-height: 2;
}

/* 2nd Slider  */
.slider-wrapper{
    position: relative;
    width: 325px;
    height: 500px;
    margin-left: 128px;
    box-shadow: -20px 20px;
}
.slider{
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%,0%,0.25);
    border-radius: 0.5rem;
}
.slider img{
    flex: 1 0 100%;
    width: 325px;
    height: 500px;
    scroll-snap-type: start;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 30%;
    transform: translateX(50%);
    transform: translateY(500%);
    z-index: 1;
}
.slider-nav a{
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: #9AD4D6;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav:hover{
    opacity: 1;
}
/* Footer */
footer {
    background-image: url(images/footerbackground.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}
.footer-container{
    display: inline-block;
}
.footer-container ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 15px;
    position: relative;
}
.footer-content ul li a{
    text-decoration: none;
    color: #FFF;
}
.footer-icons{
    padding-top: 170px;
    margin-left: 50px;
    display: inline-block;
}
.footer-icons img{
    width: 40px;
    height: 40px;
    padding-right: 20px;
}
.footer-nav{
    display: flex;
}
.logo-footer{
    align-content: right;
    display: inline-flex;
    margin-left: 500px;
}
.logo-footer h1{
    color: #FFF;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 900;
}
.logo-footer img{
    width: 50px;
}



.icons img {
    width: 10%;
    height: 25%;
    margin: 0 8%;
}
