
@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter.ttf') format('truetype');
}


body {
    background-color: #f2fdff;
    font-family: 'Inter', sans-serif;
    margin: 0;
}
h1{
    color: #101935;
}
.header {
    top: 0px;
    left: 0px;
    min-height: 100vh;
    /* height: 100%; */
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #3E5965 0%, rgba(62, 89, 101, 0.00) 100%);
}

/* NAVIGATION BAR STYLING */
nav {
    display: flex;
    padding: 0% 3%;
    align-items: center;
    justify-content: space-between;
}
.logo-header {
    display: inline-flex;
    margin-left: 7%;
}
.logo-header h1 {
    margin-top: 28px;
    margin-left: 10px;
}
.logo-header h1 b {
    color: #FFF;
    letter-spacing: 1px;
    font-size: 1.5em;
    font-weight: 900;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.current-page::after {
    content: '';
    width: 100%;
    height: 2px;
    background: #56cbf9;
    display: block;
    margin: auto;
}
.nav-links ul li a {
    text-decoration: none;
    color: #FFF;
    text-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    line-height: normal;
    display: inline-block;
}
nav img {
    margin-top: 30%;
    width: 48px;
    height: 48px;
}


/* Home Page Texts */
.header-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5%;
    width: 100%;
    margin-top: 20px;
}
.header-box {
    width: 50%;
    margin-left: 10%;
}
#header-h1 {
    color: #FFF;
    width: 80%;
    font-size: 290%;
    font-weight: 800;
}
#header-h1 b {
    color: #9AD4D6;
}
#header-p {
    color: #FFF;
    width: 70%;
    font-size: 110%;
}
#header-button {
    background-color: #9AD4D6;
    border-style: none;
    border-radius: 4px;
    padding: 12px 24px 12px 24px;
    text-decoration: none;
}
#header-button a {
    text-decoration: none;
    color: #101935;
    font-weight: 700;
    font-size: 125%;
}

/*  Slideshow in Home Page  */
.box {
    background-color: #101935;
    box-shadow: 20px 20px;
    width: 350px;
    height: 350px;
    margin-left: 3%;
    margin-top: 1%;
}
.box h1 {
    color: #FFF;
    text-align: center;
    font-size: 112.5%;
    margin-top: 8px;
}
.box img {
    width: 100%;
    height: 100%;
    margin-left: 5px;
    margin-top: -10px;
}

/* Second Section of Home Page */
.main {
    top: 0px;
    left: 0px;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.main-one {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
}
.mission-text {
    margin-top: 5%;
    margin-left: 15%;
    width: 38%;
}
.mission-text h1 {
    font-size: 250%;
    line-height: 0.75;
}
.mission-text p {
    width: 100%;
    font-weight: 500;
    line-height: 2;
    font-size: 100%;
}

/* 2nd Slider  */
.slider-wrapper {
    position: relative;
    width: 325px;
    height: 500px;
    margin-left: 128px;
    margin-top: 5%;
    box-shadow: -20px 20px;
}
.slider {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}
.slider img {
    flex: 1 0 100%;
    width: 325px;
    height: 500px;
    scroll-snap-type: start;
}
.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 30%;
    transform: translateX(50%);
    transform: translateY(500%);
    z-index: 1;
}
.slider-nav a {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: #9AD4D6;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav:hover {
    opacity: 1;
}

/* Footer */
 footer {
    background-size: cover;
    background-image: url(assets/images/footerbackground.png);
    background-repeat: no-repeat;
    width: 100%;
}
@media(max-width: 600px) {
    footer{
        height: 400px;
    }
}
.spacer{
    height: 40%;
}
.footer-container {
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    display: inline-block;
}
.footer-container ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 15px;
    position: relative;
}
.footer-content ul li a {
    text-decoration: none;
    color: #FFF;
}
.footer-icons {
    padding-top: 30px;
    margin-left: 50px;
    display: inline-block;
}
.footer-icons img {
    width: 40px;
    height: 40px;
    padding-right: 20px;
}
.footer-nav {
    display: flex;
}
.logo-footer {
    align-content: right;
    display: inline-flex;
    padding-left: 30%;
}
.logo-footer h1 {
    color: #FFF;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 900;
}
.logo-footer img {
    width: 50px;
}