body{
    background-color: #f2fdff;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.header{
    top: 0px;
    left: 0px;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover; 
    position: relative;
    background: linear-gradient(180deg, #3E5965 0%, rgba(62, 89, 101, 0.00) 100%);
}
.header-content{
    display: flex;
    margin-top: 20px;
}
/* NAVIGATION BAR STYLING */
nav{
    display: flex;
    padding: 0% 3%;
    align-items: center;
    justify-content: space-between;
}
.logo-header{
    display: inline-flex;
    margin-left: 90px;
}
.logo-header h1{
    margin-top: 28px;
}
.logo-header h1 b{
    color: #FFF;
    letter-spacing: 1px;
    font-size: 1.5em;
    font-weight: 900;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
#current-home::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #56cbf9;
    display: block;
    margin: auto;
}
.nav-links ul li a{
    text-decoration: none;
    color: #FFF;
    text-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    line-height: normal;
    display: inline-block;
}
/* .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #56cbf9;
    display: block;
    margin: auto;
    transition: 0.5s;
} 
.nav-links ul li:hover::after{
    width: 100%;
} */
nav img{
    margin-top: 20px;
    width: 48px;
    height: 48px;
}

/* Home Page Texts */
.header-box{
    width: 600px;
    margin-left: 128px;
}
#header-h1{
    color: #FFF;
    width: 600px;
    font-size: 48px;
    font-weight: 800;
}
#header-h1 b{
    color: #9AD4D6;
}
#header-p{
    color: #FFF;
    width: 500px;
    font-size: 18px;
}
#header-button{
    background-color: #9AD4D6;
    width: 100px;
    height: 40px;
    margin-top: 12px;
    border-style: none;
}
#header-button a{
    text-decoration: none;
    color: #101935;
    font-weight: 700;
    font-size: 18px;
}

/*  Slideshow in Home Page  */
.box{
    background-color: #101935;
    box-shadow: 20px 20px;
    width: 350px;
    height: 350px;
    margin-left: 62px;
    margin-top: 35px
}
.box h1{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    margin-top: 8px;
}
